body {
	color: #40514E;
	margin: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

h1 {
	color: #66BFBF;
	font-family: 'Merriweather', serif;
	font-size: 5rem;
	margin: 90px auto 0 auto;
}

h2 {
	color: #66BFBF;
	font-family: "JetBrains Mono", monospace;
	font-size: 2.5rem;
	font-weight: normal;
}

h3 {
	color: #11999E;
}

a {
	color: #11999E;
	text-decoration: none;
}

a:hover {
	color: #EAF6F6;
}

p {
	line-height: 2;
}

hr {
	margin: 100px auto;
	border: dotted #CAD6D6 7px;
	border-bottom: none;
	width: 4%;
}

.pro {
	text-decoration: underline;
}


.top-container {
	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px;
}

.upper-cloud {
	position: absolute;
	top: 80px;
	right: 400px;
}

.lower-cloud {
	position: absolute;
	left: 500px;
	bottom: 25vw;
}

.mountain {
	width: 40%;
}

@media only screen and (max-width: 600px) {
	.mountain {
		width: 70%;
	}
}

.middle-container {
	margin: 100px 0;
}

.profile {
	width: 40%;
	margin: auto;
}

@media only screen and (max-width: 600px) {
	.profile {
		width: 70%;
	}
}

.profile-img {
	max-width: 250px;
	padding: 0;
	margin: 0 -100%;
}

.skill-row {
	margin: 100px auto;
	text-align: left;
	width: 50%;
}

.skill-1 {
	clip-path: circle();
	float: left;
	margin-right: 30px;
	width: 25%;
}

.skill-2 {
	clip-path: circle();
	float: right;
	margin-left: 30px;
	width: 25%;
}

@media only screen and (max-width: 600px) {
	.skill-row {
		width: 70%;
	}

	.skill-1,.skill-2 {
		float: none;
		margin: auto;
		text-align: left;
		width: 50%;
	}
}

.contact-me-para {
	margin: 1rem auto 3.5rem;
	max-width: 80%;
}

.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-weight: 500;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}

.bottom-container {
	background-color: #66BFBF;
	padding: 50px 0 15px;
}

.footer-link {
	font-weight: 600;
	margin: 20px 20px;
}

.attribution {
	margin-bottom: 0;
}

.copyright {
	color: #EAF6F6;
	font-size: 0.75rem;
	padding: 10px 0;
}